# you can pass most of those vars via env with export TF_VAR_project_name="assign-mt-dev-gcp" for CI/CD
billing_account = "<BILLING_ACCOUNT_REQUIRED>"
project_name    = "assign-mt-dev-gcp"
main_cidr       = "10.1.0.0/19"
